

<div class="container-fluid">
    <div class="row">
        <ul id="chat_messages" class="list-group">
            <li class="list-group-item">life is awesome! </li>
            <li class="list-group-item">life is super awesome! </li>
        </ul>
    </div>
    <div class="row">
     <form role="form">
      <div class="input-group">
        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
        <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" id="btn-chat">
                Send</button>
            </span>
        </div>
    </form>
</div>
</div>


 
<script>
    

</script>


