
/*--- Chat.css ----*/
.ChatController #page-wrapper{
    
}
#chat-container {
    position: relative;
    bottom: 0;
    height: 100%;
    
}
#chat-messages {
     height: calc(100% - 50px);
}
#ul-chat-messages {
    bottom: 0;
    position: relative;
}

#ul-chat-messages {
    bottom: 50px;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    max-height: calc(100% - 50px);
}
